# Visual Studio
.vs/
*.VC.db
*.user
*.suo

# Build results
x64/
Debug/
Release/
*.exe
*.obj
# Allow mesh files
!assets/meshes/*.obj
*.pdb
*.ilk
*.log

# Other
*.cache
*.ipch
*.aps
*.ncb
*.sdf
*.opensdf
*.tlog
*.lastbuildstate
*.vcxproj.user

# Ignore local dependencies
Dependencies/

